html,
body {
    height: 100%;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: rgb(26, 26, 26);
}

* {
    user-select: none;
}

.app-layout {
    display: flex;
}


/* Buttons */
.general-button-1 {
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;

    border: solid 2px rgb(27, 155, 106);
    color: black;
    background-color: rgb(240, 240, 240);
}
.general-button-1:hover {
    background-color: rgba(27, 155, 106, 0.041);
}

/* Inputs */
.general-input-1 {
    padding: 10px;
    /* border: 1px solid #ccc; */
    border: 1px solid #575757;

    border-radius: 4px;
    font-size: 1rem;
    background-color: rgb(240, 240, 240);
}
.general-input-1:focus {
    border-color: rgb(181, 184, 0);
    outline: none;
}