.usertile-main {
    display: flex;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    height: 50px;
    align-items: center;
    margin: 12px;
    margin-left: 1px;
    overflow: hidden;

    border: 1px solid rgb(121, 121, 121);
    border-radius: 25px 10px 10px 25px;
}

.usertile_pfp {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border: solid 1px white;
    border-radius: 50%;
}

.usertile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex: 1;
    min-width: 0;
    margin: 0;
    padding: 0 10px;
}

.usertile-name p {
    font: inherit;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
